@model WebApp.ViewModels.Admin.GroupJoinRequestsVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GroupJoinRequests</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupJoinRequestsVm.StudyGroupsId" class="control-label"></label>
                <select asp-for="GroupJoinRequestsVm.StudyGroupsId" class="form-control" asp-items="Model.GroupJoinRequestsStudyGroupsSelectList"></select>
                <span asp-validation-for="GroupJoinRequestsVm.StudyGroupsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupJoinRequestsVm.SenderUserId" class="control-label"></label>
                <select asp-for="GroupJoinRequestsVm.SenderUserId" class="form-control" asp-items="Model.GroupJoinRequestsSenderUserSelectList"></select>
                <span asp-validation-for="GroupJoinRequestsVm.SenderUserId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GroupJoinRequestsVm.RequestStatus" /> @Html.DisplayNameFor(model => model.GroupJoinRequestsVm.RequestStatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="GroupJoinRequestsVm.RequestedAt" class="control-label"></label>
                <input asp-for="GroupJoinRequestsVm.RequestedAt" class="form-control" />
                <span asp-validation-for="GroupJoinRequestsVm.RequestedAt" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="GroupJoinRequestsVm.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
